@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --primary: #757575;
  --secondary: #1B1717;
  --paragraphColor: #6E6E6E;
  --border: #DADADA;
  --white: #FFFFFF;
  --whiteSmoke: #F3F3F3;
  --ratingColor: #3F3F3F;
  --dark-grey: #959595;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}



